/* Topographie */
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  /* 62.5% of 16px */
  font-size: 62.5%;
}
:root {
  /* c'est pour donner les variables globales */
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
  --color-dark: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: roboto, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  /* 1 rem = 1 * font-size of the html element */
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}
a{
  text-decoration: none;
  color: white;
}
.color__headings{
  color: white;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Navigation */
.nav {
    position: relative;
    height: 100vh;
    overflow: hidden; /* empêche la vidéo de déborder */
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    color: white;
}
.content h1 {
  letter-spacing: 0.5rem;
  color:white;
  
}
.nav__heading{
  font-weight: 600;
  font-size: rem;
}
@media  screen and (min-width: 768px) {
  .nav__heading{
    font-weight: 600;
    font-size: 9rem;
  }

  
}
/* Description */
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.presentation__paragraphe{
  color: black;
  letter-spacing: 0.1rem;
  max-width: 1000px;
  font-weight: 250;
  font-size: 2rem;

}
/* quotes */
.quote__text {
  text-align: center;
  font-style: italic;
  color: var(--color-body-darker);
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
/* media */
.media {
  display: flex;
  margin-bottom: 4rem;
}
.media__title {
  margin: 0;
}
.meda__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}
/* icons*/
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background: var(--color-accent);
}

/* Testimonial */
.testimonial {
  display: flex;
  flex-direction: row;
  margin: 10rem auto;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  width: 80%;
  
}
.testimonail__description h1 {
  margin: 0;
}
.testimonail__description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonail__description p {
  margin-left: 1.5rem;
  font-size: 2rem;
}


