<section class="presentation" data-aos="fade-left">
  <h1>QUI SOMMES NOUS ?</h1>
  <div class="presentation__paragraphe">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      temporibus provident sunt quo dolor eos sint! Recusandae ea aut eius.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos
      delectus nobis quas porro ad velit soluta, molestias veritatis inventore!
    </p>
  </div>
</section>
<section class="presentation" data-aos="fade-right">
  <h1>QUI SOMMES NOUS ?</h1>
  <div class="presentation__paragraphe">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      temporibus provident sunt quo dolor eos sint! Recusandae ea aut eius.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos
      delectus nobis quas porro ad velit soluta, molestias veritatis inventore!
    </p>
  </div>
</section>
<section class="presentation" data-aos="fade-left">
  <h1>QUI SOMMES NOUS ?</h1>
  <div class="presentation__paragraphe">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      temporibus provident sunt quo dolor eos sint! Recusandae ea aut eius.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dignissimos
      delectus nobis quas porro ad velit soluta, molestias veritatis inventore!
    </p>
  </div>
</section>
