<section class="testimonial">
  <div>
    <img src="images/testimonial.jpg" alt="" />
  </div>
  <div class="testimonail__description">
    <h1>CEO</h1>
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur
      vero alias minima impedit atque omnis eveniet commodi quia cumque. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Molestias quis corporis
      qui nemo veritatis esse accusantium accusamus sapiente enim aliquid!
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Zahir Belkacemi</h3>
          <p class="quote__organization">Betal</p>
        </div>
      </div>
    </footer>
  </div>
</section>
