<div class="testimonial__container">
  <section class="grid grid--1x2 testimonial">
    <img src="images/testimonial.jpg" alt="" />
    <div class="description">
      <h1>CEO</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        quae tempora maiores suscipit, reiciendis quis voluptates architecto
        debitis ducimus fugiat!
      </p>
      <footer class="testimonial__footer">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Zahir Belkacemi</h3>
            <p class="quote__organization">Betal</p>
          </div>
        </div>
      </footer>
    </div>
  </section>
</div>
